<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&family=Potta+One&family=Racing+Sans+One&family=Rakkas&family=Sarina&family=Shrikhand&display=swap" rel="stylesheet">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/style.css" />
    <title>Love At First Bite</title>
  </head>
  <body>
    <video autoplay loop muted id="bgVideo">
      <source src="/videos/4970648-uhd_3840_2160_30fps.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

 
      <div class="content">
       <a href="/logout" class="mainLogout">Logout</a>
      <header class="topOfPage">
      <h1 class="lafb" >Love At First Bite</h1>
      <p>( Pick Your City)</p>
      <a href="/city/philadelphia">Philadelphia</a>
      <a href="/city/new%20york">New York</a>
      <a href="/city/washington%20d.c">Washington D.C</a>
      <a href="/city/boston">Boston</a>
   
    </header> 
    </div>
      

  
  </body>
</html>
